
@model ChildCare.Models.Common.Modal

<div class="modal-custom-popup sign-popup modal @Model.CssClass" aria-hidden="true" aria-labelledby="@Model.AreaLabeledId" role="dialog" tabindex="-1" id="@Model.ID" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered  @Model.ModalSizeClass">
        <div class="modal-content">
            <div class="text-xl-center" style="text-align:center;">
                <img class="lazyloading" style="max-width:100px;" src="~/images/loading-gif.gif" alt="loading" asp-append-version="true"/>
            </div>
        </div>
    </div>
</div>

